@page "/duplicates"

@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;
@using SpotifyAnalysis.Data.SpotifyAPI
@using SpotifyAnalysis.Data
@using SpotifyAnalysis.Data.DTO
@using System.Threading
@using System.Collections.Concurrent
@using System.Linq.Expressions
@using FuzzySharp;

@inject IDialogService dialogService;
@inject SpotifyMudTheme SpotifyTheme
@inject SpotifyModuleFactory spotifyModuleFactory;
@inject SpotifyClientScoped clientScoped
@inject ProtectedLocalStorage localStorage
@inject ScopedData data;


@if (data.UserDTO is null) return;

@if (loading) {
    <MudOverlay Visible DarkBackground="true">
        <MudProgressCircular Style="height:70px;width:70px;" Indeterminate="true" />
    </MudOverlay>
}

<MudTabs Outlined="true" @ref=tabs MinimumTabWidth="300px" ActivePanelIndexChanged=@TryReloadPlaylistsSummary>
    <MudTabPanel Text="Select Playlists and Analyze" Icon="@Icons.Material.Filled.PlaylistPlay">
        <MudAppBar Color="Color.Surface" Fixed="false" Style="width: -webkit-fill-available; width: -moz-available;">
            <MudText Typo=Typo.subtitle1 >@($"{tableDupes?.GetSelectedPlaylists()?.Count() ?? 0} / {data.UserDTO?.Playlists?.Count ?? 0}") playlist selected</MudText>
            <MudSpacer />
            <MudSlider @bind-Value=similarityThreshold Min=75 Max=100 Variant="Variant.Filled" Class="mr-8" Style="width: 300px" Disabled=@loading>Title similarity threshold: @similarityThreshold.ToString()%</MudSlider>
            <MudButton Variant=Variant.Outlined Class="rounded-pill" OnClick="FindDuplicates" Disabled="!readyToSearch || loading">Find duplicates</MudButton>
        </MudAppBar>
        <MudStack Row StretchItems=StretchItems.All Style="gap: 2px;">
            <PlaylistTable @ref="tableOriginal" Title="Original (one)" Playlists="data.UserDTO.Playlists" Name="Duplicated" Height=@playlistTableHeight Style="width: 50%" SelectionChanged="c => UpdateGenerateButton(Table.Original, c)" MultiSelection=false />
            <PlaylistTable @ref="tableDupes" Title="Duplicates (many)" Playlists="data.UserDTO.Playlists" Name="Duplicates" Height=@playlistTableHeight Style="width: 50%" SelectionChanged="c => UpdateGenerateButton(Table.Duplicates, c)" />
        </MudStack>
    </MudTabPanel>


    <MudTabPanel Text="Mark Duplicates" Icon="@Icons.Material.Filled.FindReplace" Disabled=(!duplicates.Any())>
        <MudDataGrid T="Duplicate" @ref="dataGrid" Items="@duplicates" Class="duplicates marker-table" FixedHeader Virtualize
                     QuickFilter=@Filter FilterCaseSensitivity=@DataGridFilterCaseSensitivity.CaseInsensitive
                     Filterable="true" Groupable="true" GroupExpanded="true">
            <ToolBarContent>
                @* TODO <HelpButton Title="What is this for?"><HelpSearchPlaylist /></HelpButton>*@
                <MudText Typo="Typo.h6">@title</MudText>
                <MudButtonGroup Variant="Variant.Outlined" Class="pl-6">
                    <MudIconButton Icon="@Icons.Material.Filled.KeyboardDoubleArrowUp" aria-label="Collapse all" OnClick=CollapseAll />
                    <MudIconButton Icon="@Icons.Material.Filled.KeyboardDoubleArrowDown" aria-label="Expand all" OnClick="ExpandAll" />
                </MudButtonGroup>
                <MudSpacer />
                <MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                              AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
            </ToolBarContent>
            <Columns>
                @* Original track columns *@
                <PropertyColumn Title="Original Title" Property="x => x.original.Name" HeaderStyle="width: 15%" Grouping>
                    <CellTemplate>
                        <MudLink Typo="Typo.body2" Color=@Color.Default Href=@("spotify:track:" + context.Item.original.ID)>@(context.Item.original.Name)</MudLink>
                    </CellTemplate>
                    <GroupTemplate>
                        <span style="font-weight:bold">
                            Original Title: @context.Grouping.Key
                            <MudChip Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small">total @context.Grouping.Count()</MudChip>
                        </span>
                    </GroupTemplate>
                </PropertyColumn>

                <PropertyColumn Title="Original Artists" Property="x => x.original.Artists" HeaderStyle="width: 15%" GroupBy="x => x.original.Artists[0].Name">
                    <CellTemplate>
                        @foreach (var artist in context.Item.original.Artists) {
                            <MudLink Typo="Typo.body2" Color=@Color.Default Href=@("spotify:artist:" + artist.ID)>@(artist.Name)</MudLink>
                        }
                    </CellTemplate>
                </PropertyColumn>

                <PropertyColumn Title="Original Album" Property="x => x.original.Album.Name">
                    <CellTemplate>
                        <MudLink Typo="Typo.body2" Color=@Color.Default Href=@("spotify:album:" + context.Item.original.Album.ID)>@(context.Item.original.Album.Name)</MudLink>
                    </CellTemplate>
                </PropertyColumn>

                @* Remove entry *@
                <TemplateColumn Title="Mark for deletion" HeaderStyle="width: 0; padding: 0">
                    <HeaderTemplate>
                        <HelpButton Title="Mark for deletion">
                            <HelpMarkForDeletion />
                        </HelpButton>
                    </HeaderTemplate>
                    <CellTemplate>
                        <MudCheckBox @bind-Value=@context.Item.MarkedForDeletion Size="Size.Large" Color="Color.Primary"></MudCheckBox>
                    </CellTemplate>
                </TemplateColumn>

                @* Duplicate track columns *@
                <PropertyColumn Title="Duplicate Playlist" Property="x => x.playlist.Name" HeaderStyle="width: 10%">
                    <CellTemplate>
                        <MudLink Typo="Typo.body2" Color=@Color.Default Href=@("spotify:playlist:" + context.Item.playlist.ID)>@(context.Item.playlist.Name)</MudLink>
                    </CellTemplate>
                </PropertyColumn>

                <PropertyColumn Title="Duplicate Title" Property="x => x.dupe.Name" HeaderStyle="width: 15%">
                    <CellTemplate>
                        <MudLink Typo="Typo.body2" Color=@Color.Default Href=@("spotify:track:" + context.Item.dupe.ID)>@(context.Item.dupe.Name)</MudLink>
                    </CellTemplate>
                </PropertyColumn>

                <PropertyColumn Title="Duplicate Artists" Property="x => x.dupe.Artists" HeaderStyle="width: 15%" GroupBy="x => x.dupe.Artists[0].Name">
                    <CellTemplate>
                        @foreach (var artist in context.Item.dupe.Artists) {
                            <MudLink Typo="Typo.body2" Color=@Color.Default Href=@("spotify:artist:" + artist.ID)>@(artist.Name)</MudLink>
                        }
                    </CellTemplate>
                </PropertyColumn>

                <PropertyColumn Title="Duplicate Album" Property="x => x.dupe.Album.Name">
                    <CellTemplate>
                        <MudLink Typo="Typo.body2" Color=@Color.Default Href=@("spotify:album:" + context.Item.dupe.Album.ID)>@(context.Item.dupe.Album.Name)</MudLink>
                    </CellTemplate>
                </PropertyColumn>
            </Columns>
        </MudDataGrid>
    </MudTabPanel>


    <MudTabPanel Text="Review Marked" Icon="@Icons.Material.Filled.Preview" Disabled=@(!duplicates.Any(d => d.MarkedForDeletion))>
        <MudDataGrid T="Duplicate" @ref="dataGrid" Items="@duplicates.Where(d => d.MarkedForDeletion).ToList()" FixedHeader
                     QuickFilter=@Filter FilterCaseSensitivity=@DataGridFilterCaseSensitivity.CaseInsensitive Class="duplicates"
                     Filterable="true" Groupable="true" GroupExpanded="true">
            <ToolBarContent>
                <MudText Typo="Typo.h6">@title</MudText>
                <MudButtonGroup Variant="Variant.Outlined" Class="pl-6">
                    <MudIconButton Icon="@Icons.Material.Filled.KeyboardDoubleArrowUp" aria-label="Collapse all" OnClick=CollapseAll />
                    <MudIconButton Icon="@Icons.Material.Filled.KeyboardDoubleArrowDown" aria-label="Expand all" OnClick="ExpandAll" />
                </MudButtonGroup>
                <MudSpacer />
                <MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                              AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
            </ToolBarContent>
            <Columns>
                @* Original track columns *@
                <PropertyColumn Title="Playlist" Property="x => x.playlist.Name" HeaderStyle="width: 20%" Grouping>
                    <CellTemplate>
                        <MudLink Typo="Typo.body2" Color=@Color.Default Href=@("spotify:playlist:" + context.Item.playlist.ID)>@(context.Item.playlist.Name)</MudLink>
                    </CellTemplate>
                    <GroupTemplate>
                        <span style="font-weight:bold">
                            Original Title: @context.Grouping.Key
                            <MudChip Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small">total @context.Grouping.Count()</MudChip>
                        </span>
                    </GroupTemplate>
                </PropertyColumn>

                <PropertyColumn Title="Title" Property="x => x.original.Name" HeaderStyle="width: 20%">
                    <CellTemplate>
                        <MudLink Typo="Typo.body2" Color=@Color.Default Href=@("spotify:track:" + context.Item.original.ID)>@(context.Item.original.Name)</MudLink>
                    </CellTemplate>
                    <GroupTemplate>
                        <span style="font-weight:bold">
                            Original Title: @context.Grouping.Key
                            <MudChip Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small">total @context.Grouping.Count()</MudChip>
                        </span>
                    </GroupTemplate>
                </PropertyColumn>

                <PropertyColumn Title="Artists" Property="x => x.original.Artists" HeaderStyle="width: 25%" GroupBy="x => x.original.Artists[0].Name">
                    <CellTemplate>
                        @foreach (var artist in context.Item.original.Artists) {
                            <MudLink Typo="Typo.body2" Color=@Color.Default Href=@("spotify:artist:" + artist.ID)>@(artist.Name)</MudLink>
                        }
                    </CellTemplate>
                </PropertyColumn>

                <PropertyColumn Title="Original Album" Property="x => x.original.Album.Name">
                    <CellTemplate>
                        <MudLink Typo="Typo.body2" Color=@Color.Default Href=@("spotify:album:" + context.Item.original.Album.ID)>@(context.Item.original.Album.Name)</MudLink>
                    </CellTemplate>
                </PropertyColumn>

                @* Remove entry *@
                <TemplateColumn Title="Unmark" HeaderStyle="width: 0; padding: 0" Groupable=false Filterable=false>
                    <CellTemplate>
                        <MudCheckBox @bind-Value=@context.Item.MarkedForDeletion Size="Size.Large" Color="Color.Primary"></MudCheckBox>
                    </CellTemplate>
                </TemplateColumn>
            </Columns>
        </MudDataGrid>
    </MudTabPanel>


    <MudTabPanel Text="Delete Marked" Icon="@Icons.Material.Filled.DeleteSweep" Style="display: flex" Disabled=@(!duplicates.Any(d => d.MarkedForDeletion))>
        <MudStack StretchItems=StretchItems.All Class="full" >
            <MudStack Row Justify=Justify.Center AlignItems=AlignItems.Center>
                <MudPaper Class="pa-16 ma-2" Elevation="0" Style="width: 30vw">
                    <MudStack Justify=Justify.SpaceAround AlignItems=AlignItems.Center>
                        @if (loggedIn) {
                            <MudText Typo="Typo.h5" Align=Align.Center><b>@(playlistSummaries.Sum(ps => ps.duplicateCount)) tracks</b> will be deleted from the following Playlists:</MudText>
                            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.DeleteSweep" Color="Color.Error">Delete Marked</MudButton>
                        } else {
                            <MudText Typo="Typo.h5" Align=Align.Center>You are <b>not logged in!</b> You won't be able to affect your Spotify account!</MudText>
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ma-4" OnClick=clientScoped.InitializeSpotifyClient>
                                Log In
                            </MudButton>
                        }
                    </MudStack>
                </MudPaper>
            </MudStack>
            <MudDataGrid T=PlaylistSummary Items=@playlistSummaries FixedHeader
                         SortMode=SortMode.Multiple>
                <Columns>
                    <TemplateColumn HeaderStyle="width:0" Sortable=false>
                        <CellTemplate>
                            <MudImage Height="50" Width="50" Src=@GetImage(context) />
                        </CellTemplate>
                    </TemplateColumn>
                    <PropertyColumn Property="x => x.playlist.Name" Title="Name" />
                    <PropertyColumn Property="x => x.playlist.OwnerName" Title="Owner" CellStyle="color: grey" />
                    <PropertyColumn Property="x => x.playlist.TracksTotal" Title="Tracks Total" HeaderStyle="width:15%" />
                    <PropertyColumn Property="x => x.duplicateCount" Title="Tracks to delete" HeaderStyle="width:15%" CellStyle="background: rgba(255, 0, 0, 0.1)" />
                </Columns>
            </MudDataGrid>
        </MudStack>
    </MudTabPanel>
</MudTabs>

<style>
    b {
        color: @(SpotifyTheme.PaletteDark.Primary.Value);
    }

    .duplicates .mud-table-container {
        height: calc(100vh - (var(--mud-appbar-height) * 10 / 4) - 2px);
    }

    .full {
        height: calc(100vh - (var(--mud-appbar-height) * 6 / 4) - 2px);
    }

        .full > .mud-table {
            height: 60vh;
        }

            .full > * .mud-table-container {
                height: 100%;
            }
</style>


@code {
    // components refs
    PlaylistTable tableOriginal;
    PlaylistTable tableDupes;
    MudDataGrid<Duplicate> dataGrid;
    MudTabs tabs;
    // vars
    HashSet<Duplicate> duplicates = [];
    Storage<int> similarityThresholdStorage;

    const string playlistTableHeight = "calc(100vh - (var(--mud-appbar-height) * 16 / 4 - 30px))";  // should be 16/4, i don't know where that 30px comes from

    string title = "Browse duplicates";
    int similarityThreshold = 95;
    bool loading;

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        await base.OnAfterRenderAsync(firstRender);
        if (!firstRender)
            return;

        similarityThresholdStorage = new(nameof(similarityThreshold), localStorage);
        var storedThreshold = await similarityThresholdStorage.Get();
        if (storedThreshold != default) {
            similarityThreshold = storedThreshold;
            StateHasChanged();
        }
    }

    private async Task FindDuplicates() {
        var originalPlaylist = tableOriginal.GetSelectedPlaylists().First();
        var duplicatePlaylists = tableDupes.GetSelectedPlaylists();

        if (originalPlaylist == null || !duplicatePlaylists.Any())
            return;

        loading = true;

        var storeTask = similarityThresholdStorage.Set(similarityThreshold);

        var duplicateBag = new ConcurrentBag<Duplicate>();
        var playlistTasks = duplicatePlaylists.Select(duplicatePlaylist => Task.Run(
            () => SearchPlaylist(originalPlaylist, duplicatePlaylist, duplicateBag)
        ));
        await Task.WhenAll(playlistTasks);
        await storeTask;
        duplicates = duplicateBag.ToHashSet();
        title = $"Duplicates from: {originalPlaylist.Name}";
        loading = false;
        StateHasChanged();
        tabs.ActivatePanel(1);
    }

    private void SearchPlaylist(PlaylistDTO original, PlaylistDTO duplicate, ConcurrentBag<Duplicate> concurrentBag) {
        HashSet<Duplicate> duplicateSet = new();
        foreach (var originalTrack in original.Tracks)
            foreach (var duplicateTrack in duplicate.Tracks)
                if (AreTracksSimilar(originalTrack.Name, duplicateTrack.Name))
                    duplicateSet.Add(new Duplicate(originalTrack, duplicateTrack, duplicate));

        // If checking for dupes in the same playlist, remove one occurrence of
        // the original track from the dupes if IDs match - this is the original
        if (original.ID == duplicate.ID)
            foreach (var originalTrack in original.Tracks)
                duplicateSet.RemoveWhere(d => d.dupe.ID == originalTrack.ID);

        foreach (var d in duplicateSet)
            concurrentBag.Add(d);
    }

    private bool AreTracksSimilar(string original, string duplicate) {
        int similarity = Fuzz.WeightedRatio(original.ToLower(), duplicate.ToLower());
        return similarity >= similarityThreshold;
    }

    bool readyToSearch;
    Dictionary<Table, int> selections = new() { [Table.Original] = 0, [Table.Duplicates] = 0 };
    void UpdateGenerateButton(Table table, int newSelectedCount) {
        selections[table] = newSelectedCount;
        readyToSearch = selections.Values.All(v => v > 0);
        StateHasChanged();
    }

    void ExpandAll() => dataGrid?.ExpandAllGroups();

    void CollapseAll() => dataGrid?.CollapseAllGroups();

    bool loggedIn;
    List<PlaylistSummary> playlistSummaries = [];   
    void TryReloadPlaylistsSummary(int activatedPanelIndex) {
        if (activatedPanelIndex != 3)
            return;

        var spotifyModule = spotifyModuleFactory.GetModule();
        loggedIn = spotifyModule.LoggedIn;
        if (!loggedIn)
            return;

        playlistSummaries = duplicates
            .Where(d => d.MarkedForDeletion)
            .GroupBy(d => d.playlist.ID)
            .Select(g => new PlaylistSummary(g.First().playlist, g.Count()))
            .OrderBy(ps => ps.playlist.Name)
            .ToList();
    }

    string GetImage(CellContext<PlaylistSummary> c) => c.Item.playlist.ImageS ?? StaticResourceMap.UnknownPlaylist;

    string _searchString;
    bool Filter(Duplicate d) {
        if (string.IsNullOrWhiteSpace(_searchString))
            return true;
        // originals
        if (d.original.Name.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        if (d.original.Album.Name.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        if (d.original.Artists.Any(a => a.Name.Contains(_searchString, StringComparison.OrdinalIgnoreCase)))
            return true;
        // duplicates
        if (d.playlist.Name.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        if (d.dupe.Name.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        if (d.dupe.Album.Name.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        if (d.dupe.Artists.Any(a => a.Name.Contains(_searchString, StringComparison.OrdinalIgnoreCase)))
            return true;

        return false;
    }

    class Duplicate(TrackDTO original, TrackDTO dupe, PlaylistDTO playlist) {
        public TrackDTO original = original;
        public TrackDTO dupe = dupe;
        public PlaylistDTO playlist = playlist;
        public bool MarkedForDeletion { get; set; }
    }

    class PlaylistSummary(PlaylistDTO playlistDTO, int duplicateCount) {
        public PlaylistDTO playlist = playlistDTO;
        public int duplicateCount = duplicateCount;
    }

    enum Table {
        Original,
        Duplicates
    }
}
